[hierarchy]
module

[export]
chap1a = "./chap1a.lit"
chap1b = "./chap1b.lit"
chap1c = "./chap1c.lit"
chap2a = "./chap2a.lit"
chap2b = "./chap2b.lit"
chap2c = "./chap2c.lit"
chap3a = "./chap3a.lit"
chap3b = "./chap3b.lit"
chap3c = "./chap3c.lit"
chap3d = "./chap3d.lit"
chap3e = "./chap3e.lit"
chap3f = "./chap3f.lit"
chap4 = "./chap4-polynomials.lit"
chap5a = "./chap5a.lit"
chap5b = "./chap5b.lit"
chap5c = "./chap5c.lit"
chap5d = "./chap5d.lit"
chap5e = "./chap5e.lit"
chap6a = "./chap6a.lit"
chap6b = "./chap6b.lit"
chap6c = "./chap6c.lit"
chap7a = "./chap7a.lit"
chap7b = "./chap7b.lit"
chap7c = "./chap7c.lit"
