[hierarchy]
module

[export]
section01a = "./section01a.lit"
section01b = "./section01b.lit"
section01c = "./section01c.lit"
section02a = "./section02a.lit"
section02b = "./section02b.lit"
section02c = "./section02c.lit"
section03a = "./section03a.lit"
section03b = "./section03b.lit"
section03c = "./section03c.lit"
section03d = "./section03d.lit"
section03e = "./section03e.lit"
section03f = "./section03f.lit"
chapter04 = "./chapter04-polynomials.lit"
