[hierarchy]
module

[export]
chap1a = "./chap1a.lit"
chap1b = "./chap1b.lit"
chap1c = "./chap1c.lit"
chap2a = "./chap2a.lit"
chap2b = "./chap2b.lit"
chap2c = "./chap2c.lit"
chap3a = "./chap3a.lit"
chap3b = "./chap3b.lit"
chap3c = "./chap3c.lit"
chap3d = "./chap3d.lit"
chap3e = "./chap3e.lit"
chap3f = "./chap3f.lit"
chap4 = "./chap4-polynomials.lit"
