[hierarchy]
submodule

[export]
group = "./group.lit"
group_homomorphism = "./group_homomorphism.lit"
subgroup = "./subgroup.lit"
subgroup_maps = "./subgroup_maps.lit"
function_inverse = "./function_inverse.lit"
cosets = "./cosets.lit"
lagrange = "./lagrange.lit"
subgroup_structure = "./subgroup_structure.lit"
group_actions = "./group_actions.lit"
normal_subgroup = "./normal_subgroup.lit"
quotient_groups = "./quotient_groups.lit"
finite_function_spaces = "./finite_function_spaces.lit"
prime_arithmetic = "./prime_arithmetic.lit"
prime_power_factors = "./prime_power_factors.lit"
p_group_actions = "./p_group_actions.lit"
cyclic_group = "./cyclic_group.lit"
cauchy_tuples = "./cauchy_tuples.lit"
cauchy_restriction = "./cauchy_restriction.lit"
cauchy_rotation = "./cauchy_rotation.lit"
cauchy_fixed_points = "./cauchy_fixed_points.lit"
cauchy_power_hom = "./cauchy_power_hom.lit"
cauchy_theorem = "./cauchy_theorem.lit"
normalizer = "./normalizer.lit"
sylow_coset_action = "./sylow_coset_action.lit"
normalizer_quotient = "./normalizer_quotient.lit"
quotient_preimage = "./quotient_preimage.lit"
quotient_preimage_coordinates = "./quotient_preimage_coordinates.lit"
quotient_preimage_bijection = "./quotient_preimage_bijection.lit"
quotient_preimage_cardinality = "./quotient_preimage_cardinality.lit"
sylow_successor = "./sylow_successor.lit"
sylow = "./sylow.lit"
cosets_checkpoint = "./cosets_checkpoint.lit"
finite_function_spaces_checkpoint = "./finite_function_spaces_checkpoint.lit"
group_actions_checkpoint = "./group_actions_checkpoint.lit"
lagrange_checkpoint = "./lagrange_checkpoint.lit"
prime_arithmetic_checkpoint = "./prime_arithmetic_checkpoint.lit"
quotient_groups_checkpoint = "./quotient_groups_checkpoint.lit"
subgroup_structure_checkpoint = "./subgroup_structure_checkpoint.lit"
