[hierarchy]
module

[export]
MILAlternative = "./textbook2"
Introduction = "./Introduction.lit"
chap1 = "./chapter01-introduction.lit"
chap3 = "./chapter03-logic.lit"
chap5 = "./chapter05-elementary-number-theory.lit"
chap6 = "./chapter06-discrete-mathematics.lit"
chap7 = "./chapter07-structures.lit"
