[hierarchy]
module

[import std]
basics

[export]
citation = "./citation.lit"
chap1 = "./chapter01-introduction.lit"
chap2 = "./chapter02-basics.lit"
chap3 = "./chapter03-logic.lit"
chap4 = "./chapter04-sets-and-functions.lit"
chap5 = "./chapter05-elementary-number-theory.lit"
chap6 = "./chapter06-discrete-mathematics.lit"
chap7 = "./chapter07-structures.lit"
chap8 = "./chapter08-hierarchies.lit"
chap9 = "./chapter09-groups-and-rings.lit"
chap10 = "./chapter10-linear-algebra.lit"
chap11 = "./chapter11-topology.lit"
chap12 = "./chapter12-differential-calculus.lit"
chap13 = "./chapter13-integration-and-measure-theory.lit"
