[run]
./chapter01-integers-rationals-order-and-divisibility.lit
./chapter02-euclidean-division-and-gcd.lit
./chapter03-relative-primality.lit
./chapter04-prime-factorization.lit
./chapter05-abelian-groups-and-congruences.lit
./chapter06-rings-fields-and-linear-congruences.lit
./chapter07-generators-cyclic-groups-and-isomorphisms.lit
./chapter08-subgroups-cosets-and-euler-theorem.lit
./chapter09-polynomials-over-a-field.lit
./chapter10-finite-subgroups-and-primitive-roots.lit
./chapter11-power-congruences-and-quadratic-residues.lit
./chapter12-gauss-lemma-and-quadratic-reciprocity.lit
./chapter13-gaussian-integers-and-sums-of-two-squares.lit

[export]
chapter1 = "./chapter01-integers-rationals-order-and-divisibility.lit"
chapter2 = "./chapter02-euclidean-division-and-gcd.lit"
chapter3 = "./chapter03-relative-primality.lit"
chapter4 = "./chapter04-prime-factorization.lit"
chapter5 = "./chapter05-abelian-groups-and-congruences.lit"
chapter6 = "./chapter06-rings-fields-and-linear-congruences.lit"
chapter7 = "./chapter07-generators-cyclic-groups-and-isomorphisms.lit"
chapter8 = "./chapter08-subgroups-cosets-and-euler-theorem.lit"
chapter9 = "./chapter09-polynomials-over-a-field.lit"
chapter10 = "./chapter10-finite-subgroups-and-primitive-roots.lit"
chapter11 = "./chapter11-power-congruences-and-quadratic-residues.lit"
chapter12 = "./chapter12-gauss-lemma-and-quadratic-reciprocity.lit"
chapter13 = "./chapter13-gaussian-integers-and-sums-of-two-squares.lit"
