[hierarchy]
module

[export]
HighSchoolCite = "./cite"
chap01 = "./chapter01-sets-and-logic.lit"
chap02 = "./chapter02-equations-and-inequalities.lit"
chap03 = "./chapter03-powers-exponentials-and-logarithms.lit"
chap04 = "./chapter04-functions.lit"
chap05 = "./chapter05-trigonometric-identities.lit"
chap06 = "./chapter06-trigonometric-functions.lit"
chap07 = "./chapter07-plane-vectors.lit"
chap08 = "./chapter08-complex-numbers.lit"
chap09 = "./chapter09-solid-geometry-incidence.lit"
chap10 = "./chapter10-solids-and-measurement.lit"
chap11 = "./chapter11-probability-basics.lit"
chap12 = "./chapter12-statistics-basics.lit"
chap13 = "./chapter13-lines-and-circles.lit"
chap14 = "./chapter14-conics-parametric-and-polar.lit"
chap15 = "./chapter15-space-vectors.lit"
chap16 = "./chapter16-sequences-and-induction.lit"
chap17 = "./chapter17-derivatives.lit"
chap18 = "./chapter18-counting-and-binomial.lit"
chap19 = "./chapter19-probability-distributions.lit"
chap20 = "./chapter20-regression-and-independence.lit"
