[hierarchy]
module

[export]
Introduction = "./Introduction.lit"
HighSchoolCite = "./cite"
chap01 = "./chapter01-sets-and-logic.lit"
chap02 = "./chapter02-equations-and-inequalities.lit"
chap03 = "./chapter03-powers-exponentials-and-logarithms.lit"
chap04 = "./chapter04-functions.lit"
chap05 = "./chapter05-trigonometric-identities.lit"
chap06 = "./chapter06-trigonometric-functions.lit"
chap07 = "./chapter07-plane-vectors.lit"
chap08 = "./chapter08-complex-numbers.lit"
chap09 = "./chapter09-solid-geometry-incidence.lit"
chap10 = "./chapter10-solids-and-measurement.lit"
chap11 = "./chapter11-probability-basics.lit"
chap12 = "./chapter12-statistics-basics.lit"
chap13 = "./chapter13-lines-and-circles.lit"
chap14 = "./chapter14-conics-parametric-and-polar.lit"
chap15 = "./chapter15-space-vectors.lit"
chap16 = "./chapter16-sequences-and-induction.lit"
chap17 = "./chapter17-derivatives.lit"
chap18 = "./chapter18-counting-and-binomial.lit"
chap19 = "./chapter19-probability-distributions.lit"
chap20 = "./chapter20-regression-and-independence.lit"
sets_and_logic_exercises = "./sets_and_logic_exercises.lit"
algebra_exercises = "./algebra_exercises.lit"
functions_exercises = "./functions_exercises.lit"
trigonometry_exercises = "./trigonometry_exercises.lit"
plane_vectors_and_analytic_geometry_exercises = "./plane_vectors_and_analytic_geometry_exercises.lit"
complex_numbers_exercises = "./complex_numbers_exercises.lit"
solid_geometry_and_measurement_exercises = "./solid_geometry_and_measurement_exercises.lit"
probability_exercises = "./probability_exercises.lit"
statistics_and_data_analysis_exercises = "./statistics_and_data_analysis_exercises.lit"
sequences_induction_and_combinatorics_exercises = "./sequences_induction_and_combinatorics_exercises.lit"
derivatives_and_elementary_calculus_exercises = "./derivatives_and_elementary_calculus_exercises.lit"
