[hierarchy]
module

[import std]
basics

[export]
introduction = "./introduction.lit"
chap1 = "./chapter01-proofs-by-calculation.lit"
chap2 = "./chapter02-proofs-with-structure.lit"
chap3 = "./chapter03-parity-and-divisibility.lit"
chap4 = "./chapter04-proofs-with-structure-ii.lit"
chap5 = "./chapter05-logic.lit"
chap6 = "./chapter06-induction.lit"
chap7 = "./chapter07-number-theory.lit"
chap8 = "./chapter08-functions.lit"
chap9 = "./chapter09-sets.lit"
chap10 = "./chapter10-relations.lit"
