[hierarchy]
module

[export]
native_carriers = "./native_carriers.lit"
bounded_facts = "./bounded_facts.lit"
propositions_and_trust = "./propositions_and_trust.lit"
object_definitions = "./object_definitions.lit"
equality_transport = "./equality_transport.lit"
builtin_arithmetic = "./builtin_arithmetic.lit"
recursive_arithmetic = "./recursive_arithmetic.lit"
native_sets = "./native_sets.lit"
choice = "./choice.lit"
existentials = "./existentials.lit"
proof_scopes = "./proof_scopes.lit"
carrier_boundaries = "./carrier_boundaries.lit"
partial_boundary = "./partial_boundary.lit"
