[export]
chap1 = "./chapter01-introduction.lit"
chap2 = "./chapter02-natural-numbers.lit"
chap3 = "./chapter03-set-theory.lit"
chap4 = "./chapter04-integers-and-rationals.lit"
chap5 = "./chapter05-real-numbers.lit"
chap6ereal = "./chap6-extended-real.lit"
chap6 = "./chapter06-sequential-limits.lit"
chap7 = "./chapter07-series.lit"
chap8finiteproduct = "./chapter08-finite-product-cite.lit"
chap8 = "./chapter08-infinite-sets.lit"
chap9 = "./chapter09-continuous-functions.lit"
chap10 = "./chapter10-differentiation.lit"
chap11 = "./chapter11-riemann-integral.lit"
appendixA = "./appendix-a-logic-and-proof-language.lit"

[requires]
chap3 = ["chap2"]
chap5 = ["chap4"]
chap6 = ["chap5", "chap6ereal"]
chap7 = ["chap3", "chap5", "chap6"]
chap8finiteproduct = ["chap3"]
chap8 = ["chap3", "chap5", "chap7", "chap8finiteproduct"]
chap9 = ["chap4", "chap5", "chap6"]
chap10 = ["chap9"]
chap11 = ["chap5", "chap9", "chap10"]
