[entrance]
file = "./chap1.lit"

[export]
chap1 = "./chap1.lit"
chap2 = "./chap2.lit"
chap3 = "./chap3.lit"
chap4 = "./chap4.lit"
chap4_cite = "./chap4_cite/main.lit"
chap5 = "./chap5.lit"
chap6 = "./chap6.lit"
chap7 = "./chap7.lit"
chap8 = "./chap8.lit"
chap9 = "./chap9.lit"
chap10 = "./chap10.lit"
chap11 = "./chap11.lit"
appendixA = "./appendixA.lit"
