[hierarchy]
module

[import std]
basics

[export]
chap1 = "./chapter01-introduction.lit"
chap2 = "./chapter02-natural-numbers.lit"
chap3 = "./chapter03-set-theory.lit"
chap4 = "./chapter04-integers-and-rationals.lit"
chap5 = "./chapter05-real-numbers.lit"
chap6 = "./chapter06-sequential-limits.lit"
chap7 = "./chapter07-series.lit"
chap8 = "./chapter08-infinite-sets.lit"
chap9 = "./chapter09-continuous-functions.lit"
chap10 = "./chapter10-differentiation.lit"
chap11 = "./chapter11-riemann-integral.lit"
appendixA = "./appendix-a-logic-and-proof-language.lit"
