[import]
geo = "../geo"

[export]
translation = "./translation.lit"
algebra_probe = "./algebra_probe.lit"
scale_probe = "./scale_probe.lit"
bridge1_probe = "./bridge1_probe.lit"
dot_split_probe = "./dot_split_probe.lit"
bc_terms_probe = "./bc_terms_probe.lit"
angle_substitution_probe = "./angle_substitution_probe.lit"
angle_core_probe = "./angle_core_probe.lit"
closed_core_probe = "./closed_core_probe.lit"
bridge2_probe = "./bridge2_probe.lit"
final_rewrite_probe = "./final_rewrite_probe.lit"
solution = "./solution.lit"
