[hierarchy]
module

[export]
section1citation = "./section1_citation.lit"
section1 = "./section1.lit"
section2citation = "./section2_citation.lit"
section2 = "./section2.lit"
section3citation = "./section3_citation.lit"
section3 = "./section3.lit"
section4citation = "./section4_citation.lit"
section4 = "./section4.lit"
section5citation = "./section5_citation.lit"
section5 = "./section5.lit"
section6citation = "./section6_citation.lit"
section6 = "./section6.lit"
section7citation = "./section7_citation.lit"
section7 = "./section7.lit"
section8citation = "./section8_citation.lit"
section8 = "./section8.lit"
section9citation = "./section9_citation.lit"
section9 = "./section9.lit"
section10citation = "./section10_citation.lit"
section10 = "./section10.lit"
section11citation = "./section11_citation.lit"
section11 = "./section11.lit"
section12citation = "./section12_citation.lit"
section12 = "./section12.lit"
section13citation = "./section13_citation.lit"
section13 = "./section13.lit"
