<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="APPLICATIONFOLDER">
      <Directory Id="StandardLibrary" Name="std">
        <Directory Id="StdDir_basics" Name="basics">
          <Component Id="StdComp_basics_README.md" Guid="*">
            <File Id="StdFile_basics_README.md" Source="std\basics\README.md" KeyPath="yes" />
          </Component>
          <Component Id="StdComp_basics_litex.config" Guid="*">
            <File Id="StdFile_basics_litex.config" Source="std\basics\litex.config" KeyPath="yes" />
          </Component>
          <Component Id="StdComp_basics_main.lit" Guid="*">
            <File Id="StdFile_basics_main.lit" Source="std\basics\main.lit" KeyPath="yes" />
          </Component>
          <Component Id="StdComp_basics_math_collections.md" Guid="*">
            <File Id="StdFile_basics_math_collections.md" Source="std\basics\math_collections.md" KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="LitexStd">
      <ComponentRef Id="StdComp_basics_README.md" />
      <ComponentRef Id="StdComp_basics_litex.config" />
      <ComponentRef Id="StdComp_basics_main.lit" />
      <ComponentRef Id="StdComp_basics_math_collections.md" />
    </ComponentGroup>
  </Fragment>
</Wix>
