[hierarchy]
module

[export]
set_system = "./1_SetSystem.lit"
order_system = "./2_OrderSystem.lit"
atomic_equality = "./3_AtomicEquality.lit"
function_set = "./4_FunctionSet.lit"
atomic_membership = "./5_AtomicMembership.lit"
fact_replay = "./6_FactReplay.lit"
propositional_facts = "./7_PropositionalFacts.lit"
proof_scopes = "./8_ProofScopes.lit"
cases_and_contradiction = "./9_CasesAndContradiction.lit"
existential_witness = "./10_ExistentialWitness.lit"
object_definitions = "./11_ObjectDefinitions.lit"
named_function = "./12_NamedFunction.lit"
predicate_definitions = "./13_PredicateDefinitions.lit"
set_builder_and_choice = "./14_SetBuilderAndChoice.lit"
builtin_strategy = "./15_BuiltinStrategy.lit"
standard_set_hierarchy = "./16_StandardSetHierarchy.lit"
