[hierarchy]
module

[export]
set_system = "./1_SetSystem.lit"
order_system = "./2_OrderSystem.lit"
atomic_equality = "./3_AtomicEquality.lit"
function_set = "./4_FunctionSet.lit"
atomic_membership = "./5_AtomicMembership.lit"
fact_replay = "./6_FactReplay.lit"
propositional_facts = "./7_PropositionalFacts.lit"
proof_scopes = "./8_ProofScopes.lit"
cases_and_contradiction = "./9_CasesAndContradiction.lit"
existential_witness = "./10_ExistentialWitness.lit"
object_definitions = "./11_ObjectDefinitions.lit"
named_function = "./12_NamedFunction.lit"
predicate_definitions = "./13_PredicateDefinitions.lit"
set_builder_and_choice = "./14_SetBuilderAndChoice.lit"
builtin_strategy = "./15_BuiltinStrategy.lit"
standard_set_hierarchy = "./16_StandardSetHierarchy.lit"
numeric_carrier_closures = "./17_NumericCarrierClosures.lit"
rational_natural_closures = "./18_RationalNaturalClosures.lit"
native_constants = "./19_NativeConstants.lit"
positive_natural_carrier = "./20_PositiveNaturalCarrier.lit"
positive_real_carrier = "./21_PositiveRealCarrier.lit"
nonzero_numeric_carriers = "./22_NonzeroNumericCarriers.lit"
multilayer_application = "./23_MultilayerApplication.lit"
dependent_anonymous_function = "./24_DependentAnonymousFunction.lit"
collections_and_aggregates = "./26_CollectionsAndAggregates.lit"
set_operators = "./27_SetOperators.lit"
extended_set_rules = "./28_ExtendedSetRules.lit"
explicit_source_axioms = "./25_ExplicitSourceAxioms.lit"
indexed_tuple_compiler_environment = "./29_IndexedTupleCompilerEnvironment.lit"
indexed_sequence_compiler_environment = "./30_IndexedSequenceCompilerEnvironment.lit"
finite_sequence_compiler_environment = "./31_FiniteSequenceCompilerEnvironment.lit"
matrix_compiler_environment = "./32_MatrixCompilerEnvironment.lit"
nonempty_set_witness_compiler_environment = "./33_NonemptySetWitnessCompilerEnvironment.lit"
predicate_backed_witness_result_composition = "./34_PredicateBackedWitnessResultComposition.lit"
source_axiom_result_boundary = "./35_SourceAxiomResultBoundary.lit"
known_forall_result_composition = "./36_KnownForallResultComposition.lit"
trusted_object_result_composition = "./37_TrustedObjectResultComposition.lit"
fact_transformation_result_composition = "./38_FactTransformationResultComposition.lit"
checked_named_function_reduction_result_composition = "./39_CheckedNamedFunctionReductionResultComposition.lit"
registered_order_result_composition = "./40_RegisteredOrderResultComposition.lit"
clear_compiler_environment_layer = "./41_ClearCompilerEnvironmentLayer.lit"
order_transitivity_result_composition = "./42_OrderTransitivityResultComposition.lit"
strategy_definition_compiler_environment = "./43_StrategyDefinitionCompilerEnvironment.lit"
setting_elaboration_result = "./44_SettingElaborationResult.lit"
order_reflexivity_and_numeric_comparison_results = "./45_OrderReflexivityAndNumericComparisonResults.lit"
registered_predicate_compiler_environment = "./46_RegisteredPredicateCompilerEnvironment.lit"
