[hierarchy]
module

[export]
Introduction = "./Introduction.lit"
chap1 = "./chapter01-metric-spaces.lit"
chap2 = "./chapter02-continuous-functions.lit"
chap3 = "./chapter03-uniform-convergence.lit"
chap4 = "./chapter04-power-series.lit"
chap5 = "./chapter05-fourier-series.lit"
chap6 = "./chapter06-several-variable-calculus.lit"
chap7 = "./chapter07-lebesgue-measure.lit"
chap8 = "./chapter08-lebesgue-integration.lit"
